@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <h3>Local Movie Database (LMDb)</h3>
    <a style="font-size: 2em" href="https://github.com/u-ashikov/LMDB"> Check our github repository</a>
</address>

<address>
    <p>Contributors: </p>
    <strong>Ulian Ashikov:</strong> <a href="https://github.com/u-ashikov">github.com/u-ashikov</a><br/>
    <strong>Georgi Georgiev:</strong> <a href="https://github.com/gogo4ds">github.com/u-ashikov</a>
</address>