.row {
    width:1400px;
    margin-top:50px;
}

.btn {
    width: 150px;
}

#title {
    text-align:center;
}

body {
    background-image: url('../Backgrounds/CreateMovieBackground.jpg');
    background-repeat: no-repeat;
}
