.row {
    width:1400px;
    margin-top:50px;
}

.btn {
    width: 150px;
}

#title {
    margin-top:10px;
    text-align:center;
}

body {
    background-repeat:no-repeat;
    background-position:right;
}
