.row {
    margin-left:300px;
    margin-top:50px;
    width:1400px;
}

#title {
    text-align: center;
}

.btn {
    width:150px;
    font-size:12pt;
}

body {
    background-image: url('../Backgrounds/RegisterBackground.jpg');
    background-repeat:no-repeat;
    background-position:left;
}